<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CKD Prediction - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="banner">
        <img src="{{ url_for('static', filename='banner.jpg') }}" alt="Banner" class="banner-img">
        <h1>CHRONIC KIDNEY DISEASE PREDICTION</h1>
        <nav>
            <a href="/Home">HOME</a>
            <a href="/Prediction">PREDICT</a>
        </nav>
    </div>
</body>
</html>
